<div class="header-partial">
<div class="top-nav-container">
  <div class="top-nav">
    <a href="tel:+447809726266" class="btn btn-default btn-custom"><i class="fa fa-phone"></i><span class="visible-xs">CALL</span><span class="hidden-xs">+ 44 7809 726266</span></a><a class="btn btn-default btn-custom" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope"></i><span>Enquire Now</span></a>
  </div>
  <div class="navbar-hamburger">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <span>MENU</span>
  </div>
</div>
</div>

<% face = copywriting('Facebook', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% twit = copywriting('Twitter', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% ins = copywriting('Instagram', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<div class="social_links hidden-xs">
  <div><a href="<%= face %>" target="_blank"><img src="/assets/facebook.png"></a></div>
  <div><a href="<%= twit %>" target="_blank"><img src="/assets/twitter.png"></a></div>
  <div><a href="<%= ins %>" target="_blank"><img src="/assets/instagram.png"></a></div>
</div>

<nav class="nav-hide">
  <ul>
    <img src="/assets/logo-small.png" >
    <%= render :partial => "/refinery/menu" %>
  <div id="sb-search" class="sb-search">
    <form accept-charset="UTF-8" action="/locations" method="get">
      <input class="sb-search-input" placeholder="Search..." type="text" value="" name="search" id="search">
      <input class="sb-search-submit" type="submit" value="">
      <span class="sb-icon-search"></span>
    </form>
  </div>
  <% face = copywriting('Facebook', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% twit = copywriting('Twitter', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<% ins = copywriting('Instagram', {:phrase_type => 'string', :scope => 'Social', :default => '#' }) %>
<div class="social_links visible-xs">
  <ul class="list-inline">
    <li><a href="<%= face %>" target="_blank"><img src="/assets/facebook.png"></a></li>
    <li><a href="<%= twit %>" target="_blank"><img src="/assets/twitter.png"></a></li>
    <li><a href="<%= ins %>" target="_blank"><img src="/assets/instagram.png"></a></li>
  </ul>
</div>
  </ul>
</nav>

